.icons {
  height: 32px;
  align-content: center;
  padding-left: 700px;
}

.bg {
  background-image: url(https://www.shutterstock.com/blog/wp-content/uploads/sites/5/2018/05/Gradient-Roundup-Illustrator-02.jpg);
  background-size: cover;
}



.ico {
  height: 128px;
}

header, p, h1, h2, h3 {
  font-family: 'Alata', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.stream {
  align-content: center;
  align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: left;
    padding-left: 475px;
}
 #twit {
   height: 100px;
   padding-bottom: 15px;
 }
 .streamm {
   display: block;
   margin-left: auto;
   margin-right: auto;
   float: left;
   padding-bottom: 45px;
 }
 .streamma {
   display: block;
   margin-left: auto;
   margin-right: auto;
   float: left;
   padding-left: 475px;
 }
a .twitter-timeline {
   display: block;
   margin-left: auto;
   margin-right: auto;
   float: left;
   padding-left: 475px;
 }
